/* UTILITIES */
.ptb10{padding-top: 10rem; padding-bottom: 10rem;}
.ptb15{padding-top: 15rem; padding-bottom: 15rem;}
.ptb20{padding-top: 20rem; padding-bottom: 20rem;}

.pt20{padding-top: 20rem;}
.pb4{padding-bottom: 4rem;}

.mb1{margin-bottom: 1rem;}
.mb2{margin-bottom: 2rem;}
.mb3{margin-bottom: 3rem;}

.mt1{margin-top: 1rem;}
.mt2{margin-top: 2rem;}
.mt3{margin-top: 3rem;}

.nm{margin: 0;}
.margin-auto{margin-left: auto; margin-right: auto;}
.inline-block{display: inline-block;}

/* GENERAL */
a.btn{
    transform: translateY(0);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    transition: 0.5s all;
    font-family: 'Titillium Web', sans-serif;
}
a.btn:hover{
    transform: translateY(-6px);
    box-shadow: 0px 8px 10px rgba(0,0,0,0.1);
    transition: 0.5s all;
}

strong{color: #fff1ad;}

h1{font-size: 4rem; padding-bottom: 2rem; margin-bottom: 2rem;}
h2{font-size: 3rem; padding-bottom: 2rem; margin-bottom: 2rem;}
h3{font-weight: 500; color: #fff1ad; padding-bottom: 1rem;}
h4{color: #36a63f; }
h1, h2, h3, h4, h5{
    position: relative;
    font-family: 'Titillium Web', sans-serif;
}
h1:after, h2:after {
    content: "";
    display: block;
    height: 4px;
    width: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #36a63f;
}

body {
    background: #343a3f;
    background-image: url('../img/pattern.svg');
    background-size: 10%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1.1rem;
}
#home a{transition: all 0.3s ease;}
#home a:hover{transition: all 0.3s ease;}

main {
}

/* HEADER NAV */
.navbar-dark{overflow: hidden;}
#navbar{flex-grow: 0;}
#navbar a{padding-right: 1rem; padding-left: 1rem; transition: 0.5s all; position: relative;}
#navbar a::after{
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background: #fff;
    bottom: -2rem;
    left: 50%;
    transition: 0.5s all;
}
#navbar a.active::after{
    bottom: 0;
}
.navbar-dark.position-fixed .navbar{padding: 1.2rem 1rem; transition: all 0.3s ease;}
.navbar-dark.position-fixed.green .navbar{padding: 0.5rem 1rem; transition: all 0.3s ease;}
.navbar-dark.position-fixed{border-top: 4px solid #36a63f; background: #343a3f; transition: all 0.3s ease;}
.navbar-dark.position-fixed.green{background: #36a63f; transition: all 0.3s ease;}
.navbar-dark.position-fixed .logo{fill: #36a63f; transition: all 0.3s ease;}
.navbar-dark.position-fixed.green .logo{fill: #ffffff; transition: all 0.3s ease;}
.navbar-brand{padding-bottom: 0;}
.navbar-brand svg{width: 7rem; height: auto;}

.banner{
    background: rgba(0,0,0,0);
}

.banner .btn{
    color: #fff;
    background: #36a63f;
    padding: 0.8rem 2rem;
    border-radius: 100em;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.navbar-dark.position-fixed {
    z-index: 1020;
    width: 100%;
    top: 0;
}

/* CONTENT */

.page .container{padding-top: 8rem; padding-bottom: 8rem;}

/* Rundown */
#overview {
    background: #ffffff;
    -webkit-transform: skewY(-8deg);
    -moz-transform: skewY(-8deg);
    -ms-transform: skewY(-8deg);
    -o-transform: skewY(-8deg);
    transform: skewY(-8deg);
}

#overview .container {
    background: rgba(0,0,0,0);
    -webkit-transform: skewY(8deg);
    -moz-transform: skewY(8deg);
    -ms-transform: skewY(8deg);
    -o-transform: skewY(8deg);
    transform: skewY(8deg);
}

#overview span {padding: 2rem 0; display: block;}

#overview p{width: 80%; margin: 0 auto; display: inline-block;}

/* What is Crypto */
#what_is_crypto{
    background: rgba(0,0,0,0);
    color: #fff;
}
#what_is_crypto a.btn{
    background: #36a63f;
    color: #fff;
    font-size: 1.4rem;
    width: 13rem;
}
#what_is_crypto a.btn span{
    display: block;
    color: rgba(0,0,0,0.6);
    font-size: 0.9rem;
    text-transform: none;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-bottom: 2rem;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#what_is_crypto blockquote p{position: relative;}
#what_is_crypto blockquote p::before{
    content: '\201C';
    position: absolute;
    left: -3rem;
    top: -2rem;
    font-size: 4.5rem;
    font-family: Georgia, serif;
    color: #36a63f;
}
#what_is_crypto blockquote p::after{
    content: '\201D';
    position: absolute;
    right: -3rem;
    bottom: -4rem;
    font-size: 4.5rem;
    font-family: Georgia, serif;
    color: #36a63f;
}
#what_is_crypto blockquote{margin: 4rem 0 0 0; color: #fff1ad;}
#what_is_crypto blockquote img{border-radius: 30px; display: inline-block; vertical-align: baseline; margin-right: 1rem;}
#what_is_crypto blockquote div{display: inline-block; text-align: left;}
#what_is_crypto blockquote small{display: block;}
#what_is_crypto blockquote p{font-size: 2rem;}

/* Why Crypto */
#why_invest {
    background: #ffffff;
    -webkit-transform: skewY(-8deg);
    -moz-transform: skewY(-8deg);
    -ms-transform: skewY(-8deg);
    -o-transform: skewY(-8deg);
    transform: skewY(-8deg);
}

#why_invest .container {
    background: rgba(0,0,0,0);
    -webkit-transform: skewY(8deg);
    -moz-transform: skewY(8deg);
    -ms-transform: skewY(8deg);
    -o-transform: skewY(8deg);
    transform: skewY(8deg);
}

#why_invest .tableWrap{
    border: 3px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#why_invest table{
    width: 100%;
    margin: 0;
    text-align: center;
}

#why_invest table .category{
    text-align: right;
}

#why_invest table .highlight {
    background: rgba(254, 240, 172, 0.25);
}

/* Paper */
#paper{
    background: rgba(0,0,0,0);
    color: #fff;
}
#paper a.btn{
    background: #36a63f;
    color: #fff;
    font-size: 1.4rem;
    width: 13rem;
    border-radius: 4rem;
}
#paper a.btn span{
    display: block;
    color: rgba(0,0,0,0.6);
    font-size: 0.9rem;
    text-transform: none;
}

/* Team */
#team{
    background: #ffffff;
    -webkit-transform: skewY(-8deg);
    -moz-transform: skewY(-8deg);
    -ms-transform: skewY(-8deg);
    -o-transform: skewY(-8deg);
    transform: skewY(-8deg);
}

#team .container {
    background: rgba(0,0,0,0);
    -webkit-transform: skewY(8deg);
    -moz-transform: skewY(8deg);
    -ms-transform: skewY(8deg);
    -o-transform: skewY(8deg);
    transform: skewY(8deg);
}

#team .profile {margin-bottom: 5rem;}

#team span{
    position: relative;
    display: inline-block;
}

#team a{
    position: absolute;
    bottom: 6%;
    right: 24%;
    background: #fff;
    border-radius: 100%;
    padding: 0.25rem;
    width: 2rem;
    height: 2rem;
}

#team a svg{
    width: 80%;
    fill: #0069ff;
    height: 70%;
    width: 70%;
}

#team h3{font-size: 1.3rem; color: #37a63f; margin: 1rem 0 0 0; padding: 0;}
#team h5{font-size: 1rem; font-weight: bold; margin: 0.25rem 0 1rem 0; color: #3d4348;}

#team img{
    width: 80%;
    height: auto;
    display: inline-block;
    mask-image: url(//avergroupllc.com/img/clip.svg);
    -webkit-mask-image: url(//avergroupllc.com/img/clip.svg);
    mask-mode: alpha;
    -webkit-mask-mode: alpha;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-position: center;
    -webkit-mask-position: center;
}

footer {
    color: #fff;
}

footer .copyright{
    background: rgb(44, 49, 53);
    color: #4e565d;
    padding: 1.5rem;
}

#ajax-contact button{display: block; width: 100%; background: #36a63f; color: #fff;}

/* Animations */
.animate.start{
    -webkit-animation: SLIDE-IN-FROM-TOP 2s ease forwards;
    -moz-animation: SLIDE-IN-FROM-TOP 2s ease forwards;
    -ms-animation: SLIDE-IN-FROM-TOP 2s ease forwards;
    -o-animation: SLIDE-IN-FROM-TOP 2s ease forwards;
    animation: SLIDE-IN-FROM-TOP 2s ease forwards;
}

.animate.delay1{
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.animate.delay2{
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.animate.delay3{
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}



/* for screens larger than mobile */
@media (min-width: 768px) {

    #team .profile {margin-bottom: 5rem;}

    .page .container{padding-top: 10rem; padding-bottom: 10rem;}

    .animate.fade-in{opacity: 0;}

    @-webkit-keyframes SLIDE-IN-FROM-TOP {
        0%   { opacity: 0; transform: translateY(-30px); }
        100% { opacity: 1; transform: translateY(0px); }
    }
    @-moz-keyframes SLIDE-IN-FROM-TOP {
        0%   { opacity: 0; transform: translateY(-30px); }
        100% { opacity: 1; transform: translateY(0px); }
    }
    @-o-keyframes SLIDE-IN-FROM-TOP {
        0%   { opacity: 0; transform: translateY(-30px); }
        100% { opacity: 1; transform: translateY(0px); }
    }
    @keyframes SLIDE-IN-FROM-TOP {
        0%   { opacity: 0; transform: translateY(-30px); }
        100% { opacity: 1; transform: translateY(0px); }
    }

}

/* for large screens only */
@media (min-width: 1200px) {

    #team .profile {margin-bottom: 10rem;}
    #team p{margin-left: 2rem;}

    .page .container{padding-top: 18rem; padding-bottom: 18rem;}

}


/* for small screens only */
@media (max-width: 575.98px) {

    body {
        background-size: 40%;
    }

    h1{font-size: 3rem; padding-bottom: 1rem; margin-bottom:1rem;}
    h2{font-size: 2rem; padding-bottom: 1rem; margin-bottom: 1rem;}
    h3{font-weight: 500; color: #fff1ad; padding-bottom: 0.5rem;}

    .navbar-nav{padding-top: 1.5rem; margin-top: 1.5rem; border-top: 1px solid rgba(255,255,255,0.25);}
    .nav-item{margin-bottom: 1.5rem;}
    .nav-link{text-align: center;}

    #what_is_crypto blockquote{overflow: hidden;}

    #paper a.btn {
        display: block;
        width: 100%;
        margin-bottom: 2rem;
    }

    #why_invest .tableWrap{
        width: 100%;
        overflow: scroll;
    }
}